{% extends 'customer/custhome.html' %}
{% load static %}
{% block content %}
    <div class="col-3 mt-3">
        <img src="{{details.product_image.url}}" class="img-thumbnail" alt="...">
    </div>
    <div class="col-7 mt-3">
        <form method = "POST">
            {% csrf_token %}
        <h2>{{details.product_name}}</h2>
        <h3>{{details.product_description}}</h3>
        <h4>RS {{details.price}}</h4>

        <button type="submit" class="btn btn-primary">Add to cart</button>
        {{msg}}

        </form
    </div>

{% endblock %}