{% extends 'prodseller/sellhome.html' %}
{% load static %}
{% block content %}
<div class="col-10 col-sm-8 col-md-6 m-auto">
    <div class="card shadow border">
        <div class="card-body w-100">
            <h3>CHANGE PASSWORD</h3>
            <form method='POST'>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Current Password</label>
                    <input type="name" name='current_pass' class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">New Password</label>
                    <input type="name" name='new_pass' class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
                    <input type="name" name='confirm_pass' class="form-control" id="exampleFormControlInput1">
                </div>
                <button type="submit" class="btn2">Change Password</button>
            </form>
        </div>
        {{msg}}
    </div>
</div>
{% endblock %}