{% extends 'ecomadmin/adminhome.html' %}
{% load static %}
{% block content %}
<div class="text-center p-4">
    <h1>APPROVE SELLER</h1>
</div>
<div class="container">
    <div class="row">

        <div class="">
            <table class="table">
                <thead>
                    <th>Seller Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Gender</th>
                    <th>Company Name</th>
                    <th>Account Holder Name</th>
                    <th>IFSC</th>
                    <th>Branch</th>
                    <th>Account Number</th>
                    <th>Password</th>
                    <th>Status</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr class="table-active">
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>7</td>
                        <td>8</td>
                        <td>5</td>
                        <td>4</td>
                        <td><button type="button" class="btn btn-primary">approve</button></td>
                        <td><button type="button" class="btn btn-danger">remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}